html {
    box-sizing: border-box;
    background-image: url(./libraryBackground.jpg);
    background-size: 100vw 100vh;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* { 
    margin:0;
    padding:0;
}

h1 {
    color: white;
    text-align: center;
    background-color: darkred;
    padding: 20px;
    margin-bottom: 10px;
}

.bookCard {
    width: 200px;
    height: 250px;
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;
    background-color:rgba(140, 70, 19, 0.95);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
}

.bookCard>div {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-div {
    width: 1042px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.button-div>button {
    padding: 10px 20px;
    margin-right: 250px;
    border: 3px outset black;
    color: cornsilk;
    font-weight: bold;
    background-color: limegreen;
}

.button-div>button:active {
    border-style: inset;
}

.remove-button {
    width: 90%;
    height: 85%;
    background-color: brown;
    color: antiquewhite;
}

.isRead-button {
    width: 90%;
    height: 85%;
}

.isRead {
    background-color: grey;
}

.unRead {
    background-color:rgb(215, 108, 108);
}

#flex-container {
    width: 1042px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#book-form-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#book-form {
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    background-color: rgb(215, 108, 108);
    border: 1px solid black;
}

#book-form>div {
    height: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}

#book-form input[type="text"] {
    width: 90%;
    height: 50%;
    font-size: large;
}

#addBookSubmit{
    width: 90%;
    height: 70%;
    font-size: x-large;
    background-color:aquamarine;
    border: 3px outset black;
}

#addBookSubmit:active {
    border: 3px inset black;
}